@model IEnumerable<ClientApplication.Models.AuthorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("ავტორის დამატება", "Create")
</p>



@using (Html.BeginForm())
{
    <p>
        სახელით ძიება: @Html.TextBox("searchData")
        <input type="submit" value="ძიება" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
        </th>
        <th>
            @Html.ActionLink("უნიკალური Id", "Index", new { sortOrder = ViewBag.UniqIdSortParm })
        </th>
        <th>
            @Html.ActionLink("სახელი", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("გვარი", "Index", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("სქესი", "Index", new { sortOrder = ViewBag.GenderSortParm })
        </th>
        <th>
            @Html.ActionLink("პირადი ნომერი", "Index", new { sortOrder = ViewBag.PerIdSortParm })
        </th>
        <th>
            @Html.ActionLink("დაბადების წელი", "Index", new { sortOrder = ViewBag.BirthDateSortParm })
        </th>
        <th>
            @Html.ActionLink("ქვეყანა", "Index", new { sortOrder = ViewBag.CountSortParm })
        </th>
        <th>
            @Html.ActionLink("ქალაქი", "Index", new { sortOrder = ViewBag.CitySortParm })
        </th>
        <th>
            @Html.ActionLink("ტელეფონი", "Index", new { sortOrder = ViewBag.PhoneSortParm })
        </th>
        <th>
            @Html.ActionLink("ელექტონული ფოსტა", "Index", new { sortOrder = ViewBag.EmailSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unique_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birth_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("შეცვლა", "Edit", new { id = item.Unique_Id }) |
                @Html.ActionLink("დეტალური ინფორმაცია", "Details", new { id = item.Unique_Id }) |
                @Html.ActionLink("წაშლა", "Delete", new { id = item.Unique_Id })
            </td>
        </tr>
    }

</table>

@if (TempData["Error"] != null)
{
    <div>TempData["Error"]</div>
}